ServerLogEventiGUI/myfiles/log/schemaLog.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LogEventiGUI">
        <xs:complexType>
            <xs:sequence> 
                <xs:element name="applicazione" type="xs:string "/>
                <xs:element name="indirizzoIPClient" type="xs:string" />
                <xs:element name="data" type="xs:string"/>
                <xs:element name="ora" type="xs:string"/>
                <xs:element name="evento" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>